main ul:first-of-type {
    display: grid;
    gap: 10em;
}

main ul:first-of-type li {
    position: relative;
}

figure {
    --height: 625;
    --width: 450;
}

img {
    width: 100%;   
    object-fit: cover;
}